.pagina-agendar {
    height: 100vh;
    background-color: var(--cor-areia-mais-clara);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-agendamento {
    max-width: 450px;
    width: 100%;
    background-color: var(--cor-azul-claro);
    border-radius: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 50px;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 0 10px 2px #c9c2f3;
}

.formulario-campo label {
    margin-left: 15px;
    font-size: 19px;
}

.formulario-campo input {
    padding: 5px;
    border-radius: 20px;
    max-width: 435px;
    width: 100%;
    height: 17px;
    font-size: 17px;
}

.formulario-campo input:focus {
    box-shadow: 0 0 0 2.5px #5177c2;
    outline: none;
}

.formulario-agendamento img {
    position: absolute;
    max-width: 40px;
    left: 30px;
}

.formulario-agendamento img:hover {
    cursor: pointer;
}

.formulario-agendamento h2 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-bottom: 15px;
}

.formulario-campo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    position: relative;
}

.formulario-campo select {
    border-radius: 20px;
    padding: 8px;
}

.formulario-campo select:focus {
    box-shadow: 0 0 0 2.5px #5177c2;
    outline: none;
}

.formulario-campo select option {
    border-radius: 20px;
    padding: 8px;
    height: 10px;
}

.button {
    background: var(--cor-roxo);
    border-radius: 15px;
    width: 130px;
    height: 40px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}

.button:hover {
    background-color: #8c7bfa;
    cursor: pointer;
}

.erroCampo .erro-mensagem {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
    position: absolute;
    bottom: -21px;
    left: 15px;
}
  
.erroCampo select {
    box-shadow: 0 0 0 2.5px red;
}

.erroCampo input {
    box-shadow: 0 0 0 2.5px red;
}

